body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  padding: 0 20vw;
}
.user-profile{
  display: flex;
  align-items: center;
}
img {
  border: 2px solid whitesmoke;
  margin: 0 2vw;
}
h1 {
  margin-bottom: 0px;
}
.country-info{
  padding-bottom: 24px;
}
.user-profile{
  border: 4px solid whitesmoke;
  padding: 8px 16px;
}
.search-bar{
  margin: 4vh 0;
}